.CreateProject{
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-project-tile {
    background-color: #fff;
    box-sizing: border-box;
    height: 96px;
    margin: 0;
    border-radius: 10px;
    padding: 10px 10px 10px 16px;
    position: relative;
    width: 222px;
}

.cancel-create-project{
    float: right;
    position: relative;
    width: 20px;
    height: 20px;
    right: -2px;
    top: -2px;
    z-index: 2;
}

.create-project-tile-input{
    position: relative;
    z-index: 1;
}

.create-project-tile-input-element{
    position: relative;
    left: -8px;
    padding: 2px 8px;
    box-shadow: none;
    width: calc(100% - 40px);
    background: transparent;
    border: none;
    color: black;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    min-height: 0;
    outline: 0;
}

.create-project-tile-input ::placeholder{
    color: #484a4d;
}

.create-project-tile-input :focus{
    border-radius: 5px;
    background-color: white;
    opacity: 0.7;
}

.create-project-tile-button{
    display: flex;
    align-items: center;
    justify-content: center;
}