.Modal {
    position: fixed;
    /* z-index: 500; */
    /* z-index: -1; */
    background-color: transparent;
    width: 50%;
    /* padding: 16px; */
    left: 25%;
    top: 50px;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
  }
  
  @media (min-width: 600px) {
    .Modal {
      width: 300px;
      left: calc(50% - 150px);
    }
  }
  