.board-list-card-item{
    background-color: #fff;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    cursor: grab;
    user-select: none;
    display: block;
    margin: 8px 0;
    max-width: 300px;
    min-height: 20px;
    position: relative;
    text-decoration: none;
    z-index: 0;
}

.board-list-card-item-name{
    color: teal
}