.Loginbox {
    margin: 100px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    color: teal;
  }
  .Loginbox p {
    margin-top: 20px;
  }

  .link{
    text-decoration: none;
    color: purple;
  }
  
  @media (min-width: 600px) {
    .Loginbox {
      width: 500px;
    }
  }